

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    position: relative; 
    margin: 0 auto;
    background-color: #ffffff;
    padding: 500px 0;
    width: 80%;
    background-image: url("images/Logo-1000.png");
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    text-align: center;
}

.hero-content {
    width: 100%;
    height: 100%;
    /* max-width: 600px; */
    /* padding: 20px;  */
}

.hero h1 {
    position: absolute; 
    top: 0; 
    margin: 0;
    left: 50%; 
    transform: translateX(-50%); 
    margin-bottom: 20px;
    font-size: 8em;
    
    
}

.hero p {
    margin-bottom: 30px;
    /* background-color: #bbb; */
    font-size: 3em;
}

.hero .btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #010b11; 
}

/* SERVICIOS */
.features {
    padding: 50px 20px;
    text-align: center;
}

.features h2 {
    margin-bottom: 40px;
}

.feature {
    margin-bottom: 30px;
}

/* SERVICES SLIDE  */
.slider-container {
    position: relative;
    width: 80%;
    height: 800px;
    /* max-width: 600px; */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    
}

.slide {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

#slide-1 {
    background-image: url('images/paginas-web.jpeg');
    background-size: cover;
    background-position: center;
    color: rgb(1, 1, 1);
}

#slide-2 {
    background-image: url('images/redes.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(1, 1, 1);

    }

#slide-3 {
    background-image: url('images/servidores-espejo.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(1, 1, 1);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
    /* border-radius: 3px 0 0 3px; */
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    /* border-radius: 0 3px 3px 0; */
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.indicators {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #333;
}

/* CONTACT */

#contact {
    padding: 50px 20px;
    text-align: center;
}

#contact h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    flex: 1;
    max-width: 45%;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-item img {
    margin-right: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.social-icons a {
    margin-right: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.contact-form {
    flex: 1;
    max-width: 45%;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

/* PIE DE PAGINA */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
