<section>
    <form id="contact-form" 
    method="POST" action="https://formspree.io/f/myzjygjj"> 
    
    <!-- <form id="contact-form" > -->
        <div class="row gtr-50">
            <div class="col-6 col-12-small">
                <input type="text" name="name" id="contact-name" placeholder="Nombre" required  style="color: #1f1c1c;"/>
            </div>
            <div class="col-6 col-12-small">
                <input type="email" name="email" id="contact-email" placeholder="Email" required style="color: #1f1c1c;"/>
            </div>
            <div class="col-12">
                <select name="service" required 
                style="color: #1f1c1c;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;">
                    <option value="">Seleccione Servicio</option>
                    <option>Infraestructura de Redes</option>
                    <option>Administración de Servidores</option>
                    <option>Soluciones Cloud</option>
                    <option>Análisis de Datos</option>
                    <!-- <option>Sistemas Predictivos</option> -->
                </select>
            </div>
            <div class="col-12">
                <textarea name="message" id="contact-message" placeholder="Describa sus necesidades técnicas" rows="6" required style="color: #1f1c1c;" ></textarea>
            </div>
            <div class="g-recaptcha" 
                data-sitekey="6LfU9FQrAAAAAFsR3QBHWYLx12Q6EJhsxeqBPEyu" 
                style="margin: 1em 0;">
            </div>
    
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" class="style1" value="Enviar Consulta" /></li>
                    <li><input type="reset" class="style2" value="Limpiar" /></li>
                </ul>
            </div>
        </div>
    </form>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</section>