<!-- Header -->
<section id="header" class="wrapper">
    <!-- Logo -->
        <div id="logo">
            <h1><a href="index.html">Exeqtion</a></h1>
            <p>Infraestructura Inteligente para Negocios Digitales</p>
        </div>

    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="index.html">Inicio</a></li>
                <li>
                    <a href="services.html">Servicios</a>
                    <ul>
                        <li><a href="services.html#redes">Infraestructura de Redes</a></li>
                        <li><a href="services.html#servidores">Administración de Servidores</a></li>
                        <li><a href="services.html#cloud">Soluciones Cloud</a></li>
                        <li><a href="services.html#datos">Análisis de Datos</a></li>
                        <!-- <li><a href="#">Sistemas Predictivos</a></li> -->
                    </ul>
                </li>
                 <li><a href="about.html">Sobre Nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </nav>
</section>

