<section class="feature-list small">
    <div class="row">
        <div class="col-6 col-12-small">
            <section>
                <h3 class="icon solid fa-headset">Soporte 24/7</h3>
                <p>
                    <a href="https://wa.me/51937091521" target="_blank" rel="noopener noreferrer">+51 937 091 521</a><br />
                    <a href="mailto:info@exeqtion.net" target="_blank" rel="noopener noreferrer">info@exeqtion.net</a>
                </p>
            </section>
        </div>
        <div class="col-6 col-12-small">
            <section>
                <h3 class="icon solid fa-comment">Redes Profesionales</h3>
                <div class="icon-container" style="display: flex; gap: 1.5rem; align-items: center;">
                    <a href="https://www.linkedin.com/company/exeqtion/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a>
                    <a href="https://github.com/exeqtion-pe" class="icon brands fa-github"><span class="label">GitHub</span></a>
                    <a href="https://www.facebook.com/profile.php?id=61556983171654" 
                       class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                </div>
            </section>
        </div>
        
    </div>
</section>